## Emacs
.#*
*~
#*

## General
README.html
CONTRIBUTING.html
STYLEGUIDE.html
plano.Rmd
playground.R
**/playground/*
*.Rcheck/
docs/

## R backup files
.Rproj.user
.Rhistory
.RData
*.Rout

## Files in vignettes/
vignettes/*.html
!vignettes/config/header.html
!vignettes/config/footer.html
!vignettes/config/MathJax.html
inst/doc
inst/doc/*.Rmd

## Rnw/Rmd output files
**/*_cache/*
**/*_files/*
**/figure/*
*.nav
*.snm
*.tex
*.vrb

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf

## src/
src/*.so
src/*.o
src/*.dll
